# learning pandas

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('data\Worldwide Vaccine Data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\fawas_\AppData\Local\Temp\ipykernel_13840\792926790.py:1: SyntaxWarning: invalid escape sequence '\W'
  df=pd.read_csv('data\Worldwide Vaccine Data.csv')

In [5]:
df.head()

,Country,Doses administered per 100 people,Total doses administered,% of population vaccinated,% of population fully vaccinated
0,Afghanistan,33,12526397,30.0,28.0
1,Albania,106,3025728,47.0,44.0
2,Algeria,35,15267442,18.0,15.0
3,Angola,74,23701049,47.0,26.0
4,Argentina,252,113272665,92.0,84.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            187 non-null    object
 1   Doses administered per 100 people  187 non-null    int64
 2   Total doses administered           187 non-null    int64
 3   % of population vaccinated         187 non-null    float64
 4   % of population fully vaccinated   187 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 7.4+ KB

In [7]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# loc and the iloc
loc ---> select the rows and the columns by their names  ------ df.loc[row_label,col_label]  
iloc ---> select the rows and the columns by their indices.  -----df.iloc[row_index,col_index]

In [14]:
a=df.loc[df['Country']=='Algeria']

In [18]:
d=df.iloc[1:45,2:3]

In [19]:
df.dropna(inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            187 non-null    object
 1   Doses administered per 100 people  187 non-null    int64
 2   Total doses administered           187 non-null    int64
 3   % of population vaccinated         187 non-null    float64
 4   % of population fully vaccinated   187 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 7.4+ KB

In [21]:
df.dtypes

Country                               object
Doses administered per 100 people      int64
Total doses administered               int64
% of population vaccinated           float64
% of population fully vaccinated     float64
dtype: object

In [23]:
df[['Country','Total doses administered']]

              Country  Total doses administered
0         Afghanistan                  12526397
1             Albania                   3025728
2             Algeria                  15267442
3              Angola                  23701049
4           Argentina                 113272665
..                ...                       ...
182           Vietnam                 265336568
183  West Bank & Gaza                   3748571
184             Yemen                   1242982
185            Zambia                  12655676
186          Zimbabwe                  12222754

[187 rows x 2 columns]

In [30]:
for d in df['Country']:
    if d == 'Algeria':
        d='Pakistan'

In [33]:
df[['Country']['Pakistan']].value_counts()

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\fawas_\AppData\Local\Temp\ipykernel_13840\2532201842.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  df[['Country']['Pakistan']].value_counts()

TypeError: list indices must be integers or slices, not str

In [ ]:
d for d in df['Country'] if d == 'Algeria'

In [34]:
df.loc[df['Country'] == 'Algeria', 'Country'] = 'Pakistan'

In [35]:
(df['Country']=='Pakistan').value_counts()

Country
False    185
True       2
Name: count, dtype: int64

In [24]:
df.fillna(120,inplace=True)

In [25]:
df.fillna({'Country':'pakistan'},inplace=True)

In [29]:
x=df['Total doses administered'].mean()
df.fillna({'Total doses administered':x},inplace=True)

In [37]:
df.duplicated().value_counts()

False    187
Name: count, dtype: int64

In [40]:
df.drop_duplicates()

,Country,Doses administered per 100 people,Total doses administered,% of population vaccinated,% of population fully vaccinated
0,Afghanistan,33,12526397,30.0,28.0
1,Albania,106,3025728,47.0,44.0
2,Pakistan,35,15267442,18.0,15.0
3,Angola,74,23701049,47.0,26.0
4,Argentina,252,113272665,92.0,84.0
...,...,...,...,...,...
182,Vietnam,275,265336568,94.0,89.0
183,West Bank & Gaza,80,3748571,43.0,38.0
184,Yemen,4,1242982,3.5,2.6
185,Zambia,71,12655676,60.0,48.0
186,Zimbabwe,83,12222754,44.0,32.0

# pandas correlation

In [47]:
# it only works on the numeric data
df.corr(numeric_only=True)

,Doses administered per 100 people,Total doses administered,% of population vaccinated,% of population fully vaccinated
Doses administered per 100 people,1.000000,0.171347,0.936269,0.949660
Total doses administered,0.171347,1.000000,0.188244,0.185336
% of population vaccinated,0.936269,0.188244,1.000000,0.983722
% of population fully vaccinated,0.949660,0.185336,0.983722,1.000000